.advantages

	// container

	.container

		ul.row

			li.col-sm-3.col-md-3
				img(src="../img/icons/icon-5.png" alt="@@")
				p
					| 8 месяцев <br/> гарантия

			li.col-sm-3.col-md-3
				img(src="../img/icons/icon-6.png" alt="@@")
				p
					| Доставка <br/> Бесплатно

			li.col-sm-3.col-md-3
				img(src="../img/icons/icon-7.png" alt="@@")
				p
					|  Отличное соотношение <br/> цена/качество

			li.col-sm-3.col-md-3
				img(src="../img/icons/icon-8.png" alt="@@")
				p
					| Сделано <br/> в России

		// buttons

		.row.adv-margin

			.col-md-3

			.col-md-3
				a.btn-yellow.link-call-popup(href="#" title="")
					| Получить информацию

			.col-md-3
				a.btn-yellow.link-call-popup(href="#" title="")
					| Задать вопрос онлайн

			.col-md-3