.where-buy#where-buy

	// container

	.container

		.row

			.col-sm-6.col-md-8

				// info
				.where-buy__info
					h3
						| Где купить станки для заточки <br/>
						| корончатых сверл GRAUMS?

					p
						| Нашу продукцию вы можете приобрести у нанищ партнёров в вашем городе, либо заказать напрямую у нас заполнив заявку через сайт.

			.col-sm-6.col-md-4

				// links

				.where-buy__links

					//field
					.where-buy__links__field
						a(href="#" title="")
							| Как стать партнёром GRAUMS?					
						img(src="../img/icons/icon-3.png" alt="@@")

					//field
					.where-buy__links__field
						a(href="#" title="")
							| Заполнить заявку					
						img(src="../img/icons/icon-4.png" alt="@@")

		.row

			.col-md-12
				img.where-buy__map(src="../img/map.jpg" alt="@@")

		.row

			.col-md-12

				p
					| Уточнить контактные данные партнёра в вашем городе вы можете по бесплатному номеру 8-800-500-25-50