nav

	// container

	.container

		.row

			.col-md-12

				ul.navigation

					li: a(data-easing="easeInQuad" href="#about-block" title="")
						| О производителе
					li: a(href="#" title="")
						| Главная
					li: a(data-easing="easeInQuad" href="#where-buy" title="")
						| Где купить
					li: a(href="#" title="")
						| Заточка корончатых сверл
					li: a(href="#" title="")
						| Контакты