.offer

	// container

	.container

		.row

			.col-md-1

			.col-md-4

				form.offer-form(action="/" method="post")

					.offer-form-block

					p
						| Оставьте заявку <br/> и мы вам перезвоним

					.offer-form__line

					.offer-form__filed
						input(type="text" name="name" placeholder="Ваше имя")

					.offer-form__filed
						input(type="text" name="tel" placeholder="Ваш телефон")

					.offer-form__filed
						input(type="text" name="email" placeholder="Ваш e-mail")
			
					.offer-form__button
						input(type="submit" value="Отправить")

			.col-md-1

			.col-md-6

				ul.offer__list

					li
						img(src="../img/icons/icon-14.png" alt="@@")
						p
							| Один регион - один представитель
						span
							| Будьте первыми и Вы получите эксклюзивные условия в вашем регионе

					li
						img(src="../img/icons/icon-15.png" alt="@@")
						p
							| Конкурентная цена - постоянный доход
						span
							| Цены на наши станки по заточке корончаты сверл вне конкуренции

					li
						img(src="../img/icons/icon-16.png" alt="@@")
						p
							| Всегда в наличии на складе
						span
							| Отгрузка в день оплаты счета

				a.offer-link.link-video-popup(href="#" title="")
					| Посмотреть видео

// content 2 cols

.content-2-cols

	.container

		.row

			.col-md-5

				.content-2-cols__left
					<iframe width="460" height="315" src="https://www.youtube.com/embed/Zjw6sSXTL_0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

					p
						| TITLE

					a(href="#" title="")
						| Подробнее о станке

			.col-md-6

				p
					| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus voluptatem in soluta culpa sequi ipsam aut perferendis possimus ex totam, accusamus provident non recusandae asperiores omnis hic. Expedita, nisi non?