@import '../styles/fonts.css';
@import '../blocks/block-footer/mob-footer.css';
@import '../blocks/block-footer/footer.css';
.logo,
a,
a:hover,
li,
img,
input,
textarea,
.prev,
.next,
.popup__icon-close {
  transition: all 0.5s ease-in-out;
}
.list__number__element {
  transition: all 0.2s ease-in-out;
}
body {
  cursor: default;
  overflow-x: hidden !important;
}
a {
  cursor: pointer;
}
.color-red {
  color: #cd333f;
}
.color-blue {
  color: #195abc;
}
.left {
  float: left;
  margin: 0;
}
.right {
  float: right;
}
ul {
  -webkit-padding-start: 0px !important;
  -moz-padding-start: 0px !important;
}
.no-margin {
  margin: 0 !important;
  float: none !important;
}
@media only screen and (min-width: 1140px) {
  .about-manufacture {
    height: auto;
    padding: 40px 0;
    background: url('../img/bg.png') repeat;
  }
  .about-manufacture h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font: 24px 'robotobold';
    color: #003567;
    text-transform: uppercase;
  }
  .about-manufacture p {
    font: 12px 'robotoregular';
    color: #3a3a3a;
  }
  .about-manufacture img {
    margin-top: 20px;
    display: block;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1140px) {
  .about-manufacture {
    height: auto;
    padding: 40px 0;
    background: url('../img/bg.png') repeat;
  }
  .about-manufacture h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font: 24px 'robotobold';
    color: #003567;
    text-transform: uppercase;
  }
  .about-manufacture p {
    font: 12px 'robotoregular';
    color: #3a3a3a;
  }
  .about-manufacture img {
    margin-top: 20px;
    display: block;
  }
}
@media only screen and (min-width: 1140px) {
  .advantages {
    padding: 44px 0;
    height: auto;
  }
  .advantages ul {
    list-style: none;
  }
  .advantages ul li {
    height: auto;
  }
  .advantages ul li img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 60px;
    height: 64px;
  }
  .advantages ul li p {
    font: 16px 'robotomedium';
    color: #3a3a3a;
    text-align: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1140px) {
  .advantages {
    padding: 44px 0;
    height: auto;
  }
  .advantages ul {
    list-style: none;
  }
  .advantages ul li {
    height: auto;
  }
  .advantages ul li img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 60px;
    height: 64px;
  }
  .advantages ul li p {
    font: 16px 'robotomedium';
    color: #3a3a3a;
    text-align: center;
  }
}
@media only screen and (min-width: 1140px) {
  footer {
    height: auto;
  }
  .footer__info {
    padding: 20px 0;
    height: auto;
    background: #003567;
    color: #fff;
  }
  .footer__info a,
  .footer__info a:hover {
    color: #fff;
  }
  .footer__navigation {
    list-style: none;
  }
  .footer__navigation li a,
  .footer__navigation li a:hover {
    font: 14px 'robotoregular';
    color: #fff;
    line-height: 36px;
  }
  .footer__address-field,
  .footer__contacts-field {
    height: 60px;
    margin-bottom: 42px;
  }
  .footer__address-field span,
  .footer__contacts-field span {
    display: block;
    margin-bottom: 16px;
    font: 16px 'robotomedium';
  }
  .footer__address-field p,
  .footer__contacts-field p {
    font: 14px 'robotoregular';
  }
  .footer__call-form {
    width: 216px;
    float: right;
  }
  .call-form-field {
    margin-bottom: 8px;
    width: auto;
    height: auto;
    color: #353535;
  }
  .call-form-field input[type=text] {
    padding: 0 14px;
    width: 100%;
    height: 38px;
    background: #fff;
    font: 11px 'robotolight';
    color: #353535;
    border: 0;
    border-radius: 4px;
  }
  .call-form-field textarea {
    padding: 10px;
    height: 57px;
    background: #fff;
    width: 100%;
    resize: none;
    border: 0;
    border-radius: 4px;
    font: 11px 'robotolight';
    color: #353535;
  }
  .call-form-field input[type=submit] {
    width: 100%;
    height: 44px;
    background: #efd12d;
    border: 0;
    border-radius: 45px;
    font: 14px 'robotomedium';
    color: #fff;
  }
  .call-form-field input[type=submit]:hover {
    background: #fff;
    color: #000;
  }
  .footer__copyright {
    height: 57px;
    background: #fff;
    overflow: hidden;
  }
  .footer__copyright p {
    font: 12px 'robotoregular';
    color: #3a3a3a;
    line-height: 57px;
    text-align: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1140px) {
  footer {
    height: auto;
  }
  .footer__info {
    padding: 20px 0;
    height: auto;
    background: #003567;
    color: #fff;
  }
  .footer__info a,
  .footer__info a:hover {
    color: #fff;
  }
  .footer__navigation {
    list-style: none;
  }
  .footer__navigation li a,
  .footer__navigation li a:hover {
    font: 14px 'robotoregular';
    color: #fff;
    line-height: 36px;
  }
  .footer__address-field,
  .footer__contacts-field {
    height: 60px;
    margin-bottom: 42px;
  }
  .footer__address-field span,
  .footer__contacts-field span {
    display: block;
    margin-bottom: 16px;
    font: 16px 'robotomedium';
  }
  .footer__address-field p,
  .footer__contacts-field p {
    font: 14px 'robotoregular';
  }
  .footer__call-form {
    width: 216px;
    float: right;
  }
  .call-form-field {
    margin-bottom: 8px;
    width: auto;
    height: auto;
    color: #353535;
  }
  .call-form-field input[type=text] {
    padding: 0 14px;
    width: 100%;
    height: 38px;
    background: #fff;
    font: 11px 'robotolight';
    color: #353535;
    border: 0;
    border-radius: 4px;
  }
  .call-form-field textarea {
    padding: 10px;
    height: 57px;
    background: #fff;
    width: 100%;
    resize: none;
    border: 0;
    border-radius: 4px;
    font: 11px 'robotolight';
    color: #353535;
  }
  .call-form-field input[type=submit] {
    width: 100%;
    height: 44px;
    background: #efd12d;
    border: 0;
    border-radius: 45px;
    font: 14px 'robotomedium';
    color: #fff;
  }
  .call-form-field input[type=submit]:hover {
    background: #fff;
    color: #000;
  }
  .footer__copyright {
    height: 57px;
    background: #fff;
    overflow: hidden;
  }
  .footer__copyright p {
    font: 12px 'robotoregular';
    color: #3a3a3a;
    line-height: 57px;
    text-align: center;
  }
}
@media only screen and (min-width: 1140px) {
  header {
    padding: 24px 0;
    background: #003567;
  }
  .logo {
    display: block;
    float: left;
    width: 309px;
    height: 66px;
  }
  .logo img {
    width: 100%;
    height: auto;
  }
  .header__info {
    height: auto;
    color: #fff;
  }
  .header__info p {
    margin-top: -6px;
    font: 12px 'robotoregular';
  }
  .header__info span {
    margin-top: -6px;
    display: block;
    font: 20px 'robotomedium';
    color: #efd12e;
  }
  .header__info a,
  .header__info a:hover {
    font: 12px 'robotolight';
    color: #fff;
    text-decoration: underline;
  }
  .header__info__links {
    margin-top: -6px;
    height: auto;
    width: 100%;
    overflow: hidden;
    list-style: none;
  }
  .header__info__links li a,
  .header__info__links li a:hover {
    margin-right: 18px;
    display: block;
    float: left;
    font: 10px 'robotolight';
    color: #fff;
    text-decoration: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1140px) {
  header {
    padding: 24px 0;
    background: #003567;
  }
  .logo {
    display: block;
    float: left;
    width: 309px;
    height: 66px;
  }
  .logo img {
    width: 100%;
    height: auto;
  }
  .header__info {
    height: auto;
    color: #fff;
  }
  .header__info p {
    margin-top: -6px;
    font: 12px 'robotoregular';
  }
  .header__info span {
    margin-top: -6px;
    display: block;
    font: 20px 'robotomedium';
    color: #efd12e;
  }
  .header__info a,
  .header__info a:hover {
    font: 12px 'robotolight';
    color: #fff;
    text-decoration: underline;
  }
  .header__info__links {
    margin-top: -6px;
    height: auto;
    width: 100%;
    overflow: hidden;
    list-style: none;
  }
  .header__info__links li a,
  .header__info__links li a:hover {
    margin-right: 18px;
    display: block;
    float: left;
    font: 10px 'robotolight';
    color: #fff;
    text-decoration: none;
  }
}
@media only screen and (min-width: 1140px) {
  .main-screen {
    padding: 40px 0 40px 0;
    height: auto;
    background: url('../img/bg.png') repeat;
  }
  .main-screen h1,
  .main-screen p {
    text-align: center;
  }
  .main-screen h1 {
    margin: 0;
    font: 24px 'robotoblack';
    color: #141414;
    text-transform: uppercase;
  }
  .main-screen p {
    margin-top: 20px;
    font: 16px 'robotomedium';
    color: #141414;
  }
  .main-screen__list {
    margin-top: 30px;
    height: auto;
    list-style: none;
  }
  .main-screen__list li {
    margin-bottom: 30px;
    display: block;
    width: 100%;
    overflow: hidden;
    height: auto;
  }
  .main-screen__list li img {
    margin-right: 12px;
    display: block;
    width: 24px;
    height: 25px;
    float: left;
  }
  .main-screen__list__info {
    height: auto;
    float: left;
    width: 90%;
  }
  .main-screen__list__info span {
    font: 24px 'robotomedium';
    color: #141414;
    text-align: left;
  }
  .main-screen__list__info p {
    margin-top: 10px;
    font: 12px 'robotoregular';
    color: #141414;
    text-align: left;
  }
  .btn-yellow {
    padding: 0 40px;
    display: inline-block;
    height: 44px;
    background: #efd12d;
    border-radius: 45px;
    font: 14px 'robotomedium';
    color: #fff;
    text-align: center;
    line-height: 44px;
  }
  .btn-yellow:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1140px) {
  .main-screen {
    padding: 40px 0 40px 0;
    height: auto;
    background: url('../img/bg.png') repeat;
  }
  .main-screen h1,
  .main-screen p {
    text-align: center;
  }
  .main-screen h1 {
    margin: 0;
    font: 24px 'robotoblack';
    color: #141414;
    text-transform: uppercase;
  }
  .main-screen p {
    margin-top: 20px;
    font: 16px 'robotomedium';
    color: #141414;
  }
  .main-screen__list {
    margin-top: 30px;
    height: auto;
    list-style: none;
  }
  .main-screen__list li {
    margin-bottom: 30px;
    display: block;
    width: 100%;
    overflow: hidden;
    height: auto;
  }
  .main-screen__list li img {
    margin-right: 12px;
    display: block;
    width: 24px;
    height: 25px;
    float: left;
  }
  .main-screen__list__info {
    height: auto;
    float: left;
    width: 90%;
  }
  .main-screen__list__info span {
    font: 24px 'robotomedium';
    color: #141414;
    text-align: left;
  }
  .main-screen__list__info p {
    margin-top: 10px;
    font: 12px 'robotoregular';
    color: #141414;
    text-align: left;
  }
  .btn-yellow {
    padding: 0 40px;
    display: inline-block;
    height: 44px;
    background: #efd12d;
    border-radius: 45px;
    font: 14px 'robotomedium';
    color: #fff;
    text-align: center;
    line-height: 44px;
  }
  .btn-yellow:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1140px) {
  .call-form {
    height: 632px;
    background: #fff url('../img/call-form-bg.jpg') no-repeat center;
  }
  .call-form__container {
    margin: 70px auto;
    position: relative;
    width: 1024px;
    height: 437px;
    background: 0;
    border: 15px solid #80a535;
  }
  .call-form__content {
    margin: 0 0 0 -50px;
    position: absolute;
    width: 1024px;
    height: 437px;
  }
  .call-form__content__description {
    float: left;
    width: 500px;
  }
  .call-form__content__description h3 {
    margin-top: 50px;
    font: 46px 'muller_regularregular';
    color: #3c3c3c;
  }
  .call-form__content__description p {
    font: 30px 'muller_regularregular';
    color: #3c3c3c;
  }
  .call-form__content__description__line {
    margin: 30px 0 40px 0;
    width: 74px;
    height: 5px;
    background: #3c3c3c;
  }
  .call-form__content__form {
    width: 360px;
    float: right;
  }
  .call-form__content__form h6 {
    margin-top: 20px;
    font: 24px 'mullerbold';
    color: #3c3c3c;
    text-transform: uppercase;
  }
  .call-form__content__form p {
    font: 14px 'mullerlight';
    color: #3c3c3c;
  }
  .call-form__content__form__line {
    margin: 10px 0 26px 0;
    width: 74px;
    height: 3px;
    background: #606061;
  }
  .call-form__content__form__input {
    width: 336px;
    height: 52px;
    margin-bottom: 17px;
    font: 16px 'mullerlight';
    color: #000;
  }
  .call-form__content__form__input input[type=text] {
    padding: 0 50px;
    width: 100%;
    height: 50px;
    border: 1px solid #5e5f57;
    border-radius: 3px;
  }
  .call-form__content__form__input input[type=text]:hover {
    border-color: #80a535;
  }
  .call-form__content__form__input__name {
    background: url('../img/icons/icon-1.png') no-repeat 16px 10px;
  }
  .call-form__content__form__input__phone {
    background: url('../img/icons/icon-2.png') no-repeat 16px 10px;
  }
  .call-form__content__form__input__email {
    background: url('../img/icons/icon-3.png') no-repeat 16px 10px;
  }
  .call-form__content__form input[type=submit] {
    margin-top: 10px;
    width: 290px !important;
    height: 56px !important;
    border: 0;
    border-radius: 3px;
  }
  .call-form__content__form input[type=submit]:hover {
    background: #000;
  }
}
@media only screen and (min-width: 1140px) {
  .call-form {
    height: 632px;
    background: #fff url('../img/call-form-bg.jpg') no-repeat center;
  }
  .call-form__container {
    margin: 70px auto;
    position: relative;
    width: 1024px;
    height: 437px;
    background: 0;
    border: 15px solid #80a535;
  }
  .call-form__content {
    margin: 0 0 0 -50px;
    position: absolute;
    width: 1024px;
    height: 437px;
  }
  .call-form__content__description {
    float: left;
    width: 500px;
  }
  .call-form__content__description h3 {
    margin-top: 50px;
    font: 46px 'muller_regularregular';
    color: #3c3c3c;
  }
  .call-form__content__description p {
    font: 30px 'muller_regularregular';
    color: #3c3c3c;
  }
  .call-form__content__description__line {
    margin: 30px 0 40px 0;
    width: 74px;
    height: 5px;
    background: #3c3c3c;
  }
  .call-form__content__form {
    width: 360px;
    float: right;
  }
  .call-form__content__form h6 {
    margin-top: 20px;
    font: 24px 'mullerbold';
    color: #3c3c3c;
    text-transform: uppercase;
  }
  .call-form__content__form p {
    font: 14px 'mullerlight';
    color: #3c3c3c;
  }
  .call-form__content__form__line {
    margin: 10px 0 26px 0;
    width: 74px;
    height: 3px;
    background: #606061;
  }
  .call-form__content__form__input {
    width: 336px;
    height: 52px;
    margin-bottom: 17px;
    font: 16px 'mullerlight';
    color: #000;
  }
  .call-form__content__form__input input[type=text] {
    padding: 0 50px;
    width: 100%;
    height: 50px;
    border: 1px solid #5e5f57;
    border-radius: 3px;
  }
  .call-form__content__form__input input[type=text]:hover {
    border-color: #80a535;
  }
  .call-form__content__form__input__name {
    background: url('../img/icons/icon-1.png') no-repeat 16px 10px;
  }
  .call-form__content__form__input__phone {
    background: url('../img/icons/icon-2.png') no-repeat 16px 10px;
  }
  .call-form__content__form__input__email {
    background: url('../img/icons/icon-3.png') no-repeat 16px 10px;
  }
  .call-form__content__form input[type=submit] {
    margin-top: 10px;
    width: 290px !important;
    height: 56px !important;
    border: 0;
    border-radius: 3px;
  }
  .call-form__content__form input[type=submit]:hover {
    background: #000;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1140px) {
  nav {
    height: 55px;
    background: #fff;
    border-top: 2px solid #003567;
    border-bottom: 2px solid #003567;
  }
  .navigation {
    height: auto;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navigation li {
    padding: 0 76px;
    float: left;
    height: 55px;
    background: url('../img/icons/icon-2.png') no-repeat 0px 20px;
  }
  .navigation li:nth-child(1) {
    padding-left: 0;
    background: 0;
  }
  .navigation li:nth-child(5) {
    padding-left: 76px;
    padding-right: 0;
  }
  .navigation li a,
  .navigation li a:hover {
    font: 14px 'robotomedium';
    color: #003567;
    line-height: 50px;
  }
}
@media only screen and (min-width: 1140px) {
  nav {
    height: 55px;
    background: #fff;
    border-top: 2px solid #003567;
    border-bottom: 2px solid #003567;
  }
  .navigation {
    height: auto;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navigation li {
    padding: 0 76px;
    float: left;
    height: 55px;
    background: url('../img/icons/icon-2.png') no-repeat 0px 20px;
  }
  .navigation li:nth-child(1) {
    padding-left: 0;
    background: 0;
  }
  .navigation li:nth-child(5) {
    padding-left: 76px;
    padding-right: 0;
  }
  .navigation li a,
  .navigation li a:hover {
    font: 14px 'robotomedium';
    color: #003567;
    line-height: 50px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1140px) {
  .price {
    height: 182px;
    background: url('../img/price-bg.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: center;
  }
  .price h3 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 8px;
    padding: 0;
    font: 24px 'robotobold';
  }
  .price p {
    margin: 0;
    padding: 0;
    font: 38px 'robotobold';
  }
  .price__line {
    margin: 10px auto;
    width: 58px;
    height: 4px;
    background: #fff;
  }
}
@media only screen and (min-width: 1140px) {
  .price {
    height: 182px;
    background: url('../img/price-bg.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: center;
  }
  .price h3 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 8px;
    padding: 0;
    font: 24px 'robotobold';
  }
  .price p {
    margin: 0;
    padding: 0;
    font: 38px 'robotobold';
  }
  .price__line {
    margin: 10px auto;
    width: 58px;
    height: 4px;
    background: #fff;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1140px) {
  .slider-machines {
    padding: 40px 0 70px 0;
    height: auto;
    background: url('../img/slider-machine-bg.jpg') no-repeat center;
    background-size: cover;
  }
  .slider-machines h3 {
    font: 24px 'robotobold';
    color: #003567;
  }
  .slider-machines__title {
    height: auto;
    margin-bottom: 20px;
  }
  .slider-machines__preview-block {
    display: block;
    width: 84px;
    height: 122px;
  }
  .slider-machines__preview-block img {
    margin-bottom: 4px;
    display: block;
    width: 84px;
    height: 84px;
  }
  .slider-machines__preview-block p {
    font: 12px 'robotoregular';
    color: #141414;
  }
  .slider-machines__content {
    float: left;
    width: 352px;
    margin-right: 16px;
  }
  .slider-machines__full-machine-body {
    width: 352px;
    height: 352px;
    position: relative;
    background: #000;
  }
  .slider-machines__content__main-description {
    float: left;
    width: 260px;
  }
  .slider-machines__content__main-description h4 {
    margin: 0;
    padding: 0;
    font: 12px 'robotomedium';
    color: #003567;
    margin-bottom: 10px;
  }
  .slider-machines__content__main-description p {
    font: 10px 'robotoregular';
    color: #3a3a3a;
  }
  .slider-machines__link-detail {
    margin-top: 12px;
    padding-left: 24px;
    display: block;
    height: 16px;
    background: url('../img/icons/icon-9.png') no-repeat left;
    font: 12px 'robotomedium';
    color: #003567 !important;
    line-height: 16px;
  }
  .tabs-body {
    height: auto;
    overflow: hidden;
  }
  .tabs-links {
    list-style: none;
  }
  .tabs-links li {
    margin: 0 8px;
    float: left;
  }
  .tabs-links li a,
  .tabs-links li a:hover {
    font: 14px 'robotolight';
    color: #003567 !important;
  }
  .tabs-links__active {
    font-weight: bold !important;
    text-decoration: underline !important;
  }
  .tabs-body__tab-content-box {
    margin-top: 60px;
    height: auto;
  }
  .tabs-body__tab-content-box__list {
    list-style: none;
  }
  .tabs-body__tab-content-box__list li {
    margin-bottom: 30px;
    height: auto;
    padding-left: 24px;
    background: url('../img/icons/icon-10.png') no-repeat left 0;
    font: 12px 'robotolight';
    color: #3a3a3a;
  }
  .tabs-body__tab-content-box__list li:hover {
    background: url('../img/icons/icon-11.png') no-repeat left 4px;
  }
  .link-download-manual {
    padding-left: 25px;
    display: block;
    height: 24px;
    background: url('../img/icons/icon-12.png') no-repeat;
    font: 10px 'robotoregular';
    color: #3a3a3a;
    line-height: 32px;
  }
  .link-view-video {
    margin-top: 16px;
    padding-left: 28px;
    display: block;
    height: 24px;
    background: url('../img/icons/icon-13.png') no-repeat;
    font: 10px 'robotoregular';
    color: #3a3a3a;
    line-height: 18px;
  }
}
@media only screen and (min-width: 1140px) {
  .slider-machines {
    padding: 40px 0 70px 0;
    height: auto;
    background: url('../img/slider-machine-bg.jpg') no-repeat center;
    background-size: cover;
  }
  .slider-machines h3 {
    font: 24px 'robotobold';
    color: #003567;
  }
  .slider-machines__title {
    height: auto;
    margin-bottom: 20px;
  }
  .slider-machines__preview-block {
    display: block;
    width: 84px;
    height: 122px;
  }
  .slider-machines__preview-block img {
    margin-bottom: 4px;
    display: block;
    width: 84px;
    height: 84px;
  }
  .slider-machines__preview-block p {
    font: 12px 'robotoregular';
    color: #141414;
  }
  .slider-machines__content {
    float: left;
    width: 352px;
    margin-right: 16px;
  }
  .slider-machines__full-machine-body {
    width: 352px;
    height: 352px;
    position: relative;
    background: #000;
  }
  .slider-machines__content__main-description {
    float: left;
    width: 260px;
  }
  .slider-machines__content__main-description h4 {
    margin: 0;
    padding: 0;
    font: 12px 'robotomedium';
    color: #003567;
    margin-bottom: 10px;
  }
  .slider-machines__content__main-description p {
    font: 10px 'robotoregular';
    color: #3a3a3a;
  }
  .slider-machines__link-detail {
    margin-top: 12px;
    padding-left: 24px;
    display: block;
    height: 16px;
    background: url('../img/icons/icon-9.png') no-repeat left;
    font: 12px 'robotomedium';
    color: #003567 !important;
    line-height: 16px;
  }
  .tabs-body {
    height: auto;
    overflow: hidden;
  }
  .tabs-links {
    list-style: none;
  }
  .tabs-links li {
    margin: 0 8px;
    float: left;
  }
  .tabs-links li a,
  .tabs-links li a:hover {
    font: 14px 'robotolight';
    color: #003567 !important;
  }
  .tabs-links__active {
    font-weight: bold !important;
    text-decoration: underline !important;
  }
  .tabs-body__tab-content-box {
    margin-top: 60px;
    height: auto;
  }
  .tabs-body__tab-content-box__list {
    list-style: none;
  }
  .tabs-body__tab-content-box__list li {
    margin-bottom: 30px;
    height: auto;
    padding-left: 24px;
    background: url('../img/icons/icon-10.png') no-repeat left 0;
    font: 12px 'robotolight';
    color: #3a3a3a;
  }
  .tabs-body__tab-content-box__list li:hover {
    background: url('../img/icons/icon-11.png') no-repeat left 4px;
  }
  .link-download-manual {
    padding-left: 25px;
    display: block;
    height: 24px;
    background: url('../img/icons/icon-12.png') no-repeat;
    font: 10px 'robotoregular';
    color: #3a3a3a;
    line-height: 32px;
  }
  .link-view-video {
    margin-top: 16px;
    padding-left: 28px;
    display: block;
    height: 24px;
    background: url('../img/icons/icon-13.png') no-repeat;
    font: 10px 'robotoregular';
    color: #3a3a3a;
    line-height: 18px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1140px) {
  .where-buy {
    padding: 44px 0;
    height: auto;
  }
  .where-buy__info {
    height: auto;
  }
  .where-buy__info h3 {
    margin: 0;
    padding: 0;
    font: 24px 'robotobold';
    color: #003567;
  }
  .where-buy__info p {
    margin-top: 14px;
    font: 16px 'robotoregular';
    color: #3a3a3a;
  }
  .where-buy__links {
    height: auto;
  }
  .where-buy__links__field {
    height: 50px;
    margin-bottom: 20px;
  }
  .where-buy__links__field img {
    margin-right: 14px;
    margin-top: 5px;
    display: block;
    width: 34px;
    height: auto;
    float: right;
  }
  .where-buy__links__field a,
  .where-buy__links__field a:hover {
    float: right;
    display: block;
    width: 244px;
    height: 46px;
    background: #fff;
    border: 2px solid #003567;
    border-radius: 4px;
    font: 12px 'robotoregular';
    color: #003567 !important;
    text-decoration: none;
    text-align: center;
    line-height: 42px;
  }
  .where-buy__map {
    margin: 10px auto;
    display: block;
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 1140px) {
  .where-buy {
    padding: 44px 0;
    height: auto;
  }
  .where-buy__info {
    height: auto;
  }
  .where-buy__info h3 {
    margin: 0;
    padding: 0;
    font: 24px 'robotobold';
    color: #003567;
  }
  .where-buy__info p {
    margin-top: 14px;
    font: 16px 'robotoregular';
    color: #3a3a3a;
  }
  .where-buy__links {
    height: auto;
  }
  .where-buy__links__field {
    height: 50px;
    margin-bottom: 20px;
  }
  .where-buy__links__field img {
    margin-right: 14px;
    margin-top: 5px;
    display: block;
    width: 34px;
    height: auto;
    float: right;
  }
  .where-buy__links__field a,
  .where-buy__links__field a:hover {
    float: right;
    display: block;
    width: 244px;
    height: 46px;
    background: #fff;
    border: 2px solid #003567;
    border-radius: 4px;
    font: 12px 'robotoregular';
    color: #003567 !important;
    text-decoration: none;
    text-align: center;
    line-height: 42px;
  }
  .where-buy__map {
    margin: 10px auto;
    display: block;
    width: 100%;
    height: auto;
  }
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
