.main-screen

	// container

	.container

		.row

			.col-sm-12.col-md-12

				h1
					| Станки для заточки корончатых сверл под доступной <br/> 
					| цене от производителя

				p
					| С гарантией качества и доступной ценой от <br/>
					| единственного производителя в СНГ

		.row

			.col-xs-12.col-sm-12.col-md-5
				img(src="../img/machine.png" alt="@@")

			.col-xs-12.col-sm-12.col-md-2

			.col-xs-12.col-sm-12.col-md-5

				// list

				ul.main-screen__list

					li
						img(src="../img/icons/icon-1.png" alt="@@")
						.main-screen__list__info
							span
								| Молниеносная окупаемость
							p
								| Вы будете удивлены, когда узнаете о нашей цене на станок

					li
						img(src="../img/icons/icon-1.png" alt="@@")
						.main-screen__list__info
							span
								| Расширенная гарантия
							p
								| Мы уверены в своем оборудовании и даем гарантию больше

					li
						img(src="../img/icons/icon-1.png" alt="@@")
						.main-screen__list__info
							span
								| Легкость в эксплуатации
							p
								| Все отточено до мелочей. Раз-два-три и сверло вновь в работе
					
					a.btn-yellow.link-video-popup(href="#" title="")
						| Посмотреть видео