footer

	// information

	.footer__info

		// container

		.container

			.row

				// column

				.col-sm-6.col-md-4

					// footer navigation

					ul.footer__navigation
						li: a(href="#" title="")
							| О производителе
						li: a(href="#" title="")
							| Главная
						li: a(href="#" title="")
							| Дистрибьюторам
						li: a(href="#" title="")
							| Заточка корончатых сверл
						li: a(href="#" title="")
							| Политика конфиденциальности
						li: a(href="#" title="")
							| Пользовательское соглашение					

				// column

				.col-sm-6.col-md-4

					// footer address field

					.footer__address-field
						span
							| Адрес:
						p
							| г. Омск, ул. Ипподромная, 2, офис 413

					// footer contacts field

					.footer__contacts-field
						span
							| Контакты:
						p
							| Тел.: 8-800-500-25-50
						p
							| E-mail: graums@mail.ru

				// column

				.col-sm-12.col-md-4

					// footer call form

					form.footer__call-form(action="mail.php" method="post")

						// field
						.call-form-field
							input(type="text" name="name" placeholder="Ваше имя" required)

						// field
						.call-form-field
							input(type="text" name="tel" placeholder="Телефон" required)

						// field
						.call-form-field
							input(type="text" name="email" placeholder="E-mail" required)

						// field
						.call-form-field
							textarea(name="comment" placeholder="Комментарий" required)

						// field
						.call-form-field
							input(type="submit" name="-" value="Отправить")

	// copyright

	.footer__copyright

		// container

		.container

			.row

				.col-md-12

					p
						| Все права защищены