header

	// container

	.container

		.row

			.col-sm-7.col-md-2

				// logo

				a.logo(href="#" title="")
					img(src="../img/logo.png" alt="@@")

			.col-sm-1.col-md-7
				| 112

			.col-sm-4.col-md-3
				
				// header information

				.header__info

					// links
					ul.header__info__links
						li: a(href="#" title="")
							| Покупателям
						li: a(href="#" title="")
							| Дистрибьюторам

					p
						| Центр поддержки покупателей

					span
						| 8-800-500-25-50

					a(href="#" title="")
						| Заказать обратный звонок