main

	// container

	.container

		.row

			.col-md-12

				h3
					| Название страницы
				
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis sem felis. Maecenas id enim nibh. Pellentesque faucibus cursus libero. Curabitur ultricies est sed urna viverra tincidunt. Nullam nec lectus egestas, dictum enim non, sodales risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras nisl orci, sodales ac erat ut, faucibus pulvinar augue. Proin aliquam sit amet est non tempus. Fusce euismod commodo libero, ac efficitur magna. Nunc ultricies lorem at libero luctus viverra. Nunc interdum sagittis urna, vitae dapibus erat sollicitudin quis. Nam vestibulum dui finibus tempor aliquam. Proin ac arcu venenatis est semper congue convallis eget nisi. Quisque efficitur odio libero, non lobortis dolor sodales at. Ut dictum augue eget est viverra, sit amet vestibulum lacus tempus.

				p
					| Pellentesque et malesuada magna. Fusce vitae ex vel ipsum faucibus sagittis vitae quis mi. Proin quam ipsum, consectetur eu ante vitae, molestie tincidunt leo. Nunc faucibus, est eget imperdiet fringilla, velit ligula ullamcorper urna, sed volutpat ligula odio vitae tellus. Nullam eu dui sapien. Vestibulum lacus mauris, ornare at cursus vel, congue ut mauris. Maecenas congue viverra dolor sed porttitor. Nam vestibulum ac lectus in pretium. Donec imperdiet ullamcorper lacus, eget convallis nisi finibus non. Proin quis tellus nec nisl mollis placerat vel vitae tellus. Phasellus dictum eu tortor et convallis.

				img(src="../img/image-1.jpg" alt="@@")

				p
					| Sed eu lectus tempor, porttitor ipsum ut, ullamcorper elit. Suspendisse malesuada urna leo, quis scelerisque libero vulputate vitae. Praesent a libero at lorem euismod hendrerit porta vel felis. Maecenas vehicula facilisis diam, vel ullamcorper lorem euismod quis. Fusce maximus sagittis sem id egestas. Nunc massa arcu, sagittis at ipsum nec, aliquam imperdiet libero. Proin pretium gravida tortor nec iaculis. Ut libero odio, efficitur eget egestas nec, accumsan imperdiet quam.

				p
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit harum architecto blanditiis repellendus quibusdam. Ducimus, quaerat quisquam ut ad quo, cumque atque sunt hic molestiae et sequi, adipisci delectus cum.