.slider-machines

	// container

	.container

		.row

			.col-md-1

			.col-md-6.slider-machines__title

				h3
					| Станок для заточки корончатых сверел GRAUMS NT-01

			.col-md-5

		.row

			.col-sm-12.col-md-1

				// previews

				// preview block

				a.slider-machines__preview-block.previewOne(href="#" title="")
					img(src="../img/previews/preview-1.jpg" alt="@@")
					p
						| Название блока

				// preview block

				a.slider-machines__preview-block.previewTwo(href="#" title="")
					img(src="../img/previews/preview-2.jpg" alt="@@")
					p
						| Название блока

				// preview block

				a.slider-machines__preview-block.previewThree(href="#" title="")
					img(src="../img/previews/preview-3.jpg" alt="@@")
					p
						| Название блока						

			.col-sm-12.col-md-7

				// main information

				.slider-machines__main-info

					// photo content

					.slider-machines__content

						// full machine

						.slider-machines__full-machine-body

							// image 1
							.full-machineOne
								img(src="../img/image-1.jpg" alt="@@")

							// image 2
							.full-machineTwo
								img(src="../img/image-2.jpg" alt="@@")

							// image 3
							.full-machineThree
								img(src="../img/image-3.jpg" alt="@@")

						// link
						a.slider-machines__link-detail(href="#" title="")
							| Подробнее о заточке корончатых сверл.

					// main description

					.slider-machines__content__main-description

						h4
							| Назначение

						p
							| Заточной станок «ГРАУМС – К50 эконом» предназначен для заточки корончатых сверл (фрез) из быстрорежущей стали и сверл с твердосплавными пластинами с максимальными размерами 50х50.

						h4
							| Общие характеристики

						p
							| Заточной станок «ГРАУМС – КС50 эконом» спроектирован с учетом потребительских требований к данному изделию, что позволило создать эконом класса с минимальными габаритами, максимальной точностью устанавливаемых размеров, низкого электропотребления, простоты и удобства производимых операций. В станке реализованы высокоточные решения установки количества зубьев, установки горизонта обрабатываемого зуба и перестановка следующего зуба с последующей его фиксацией. 

			.col-sm-12.col-md-4

				// detail info

				.tabs-body

					ul.tabs-links
						li: a.tab-linkOne.tabs-links__active(href="#" title="")
							| Преимущества
						li: a.tab-linkTwo(href="#" title="")
							| Характеристики
						li: a.tab-linkThree(href="#" title="")
							| Комплектация

					// box for content

					.tabs-body__tab-content-box

						// tab content 1
						.tab-contentOne

							// list

							ul.tabs-body__tab-content-box__list

								li
									| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
								li
									| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
								li
									| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
								li
									| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.

							// link

							a.link-download-manual(href="#" title="")
								| Скачать руководство по эксплуатации GRAUMS NT-01

							a.link-view-video(href="#" title="")
								| Смотреть видео о станке GRAUMS NT-01

						// tab content 2
						.tab-contentTwo

							p
								| CONTENT 2

						// tab content 3
						.tab-contentThree

							p
								| CONTENT 3